#Keypad{
  width: 40vw;
  border: #DDD solid 2px;
  background: #FFF;
  border-radius: 5px;
  padding: 3vw;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
  box-sizing: border-box;
  position: fixed;
  top: 3vw;
  left: 3vw;
 
#result{
  display: block;
  width: 100%;
  min-height: 1em;
  line-height: 100%;
  border-radius: 8px;
  padding: 1.5vw 3vw;
  text-align: right;
  margin-bottom: 3vw;
  font-size: 3.6vw;
  border: #DDD solid 1px;
  background: #DFDFDF;
  color: #333;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
#btnAll{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
}
#btnAll li{
  list-style: none;
  font-size:3vw;
  width:calc((100% - 2vw) / 3);
  text-align: center;
  padding: 1vw 0;
  color: #FFF;
  background: #666;
  font-weight: bold;
  margin-right: 1vw;
  margin-bottom: 1vw;
  box-sizing: border-box;
  cursor: pointer;
}
#btnAll li:nth-child(3n){
  margin-right: 0;
}
#btnAll li.other{
  background: #ea7433;
  margin-right: 0;
}
