#keypad{
  width:95px
}
#result{
  display: block;
  width: 100%;
  height:20px;
  line-height: 100%;
  font-size: 15px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 20px;
  background: #DFDFDF;
  color: #333;
  box-sizing: border-box;
}
#btnAll{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#btnAll li{
  list-style: none;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #FFF;
  background: #666;
  font-weight: bold;
  line-height:30px;
  margin: 0px 0px 1px 1px;
  box-sizing: border-box;
  cursor: pointer;
}
#btnAll li::before{
  padding-top: 100%;
}
#btnAll li:nth-child(3n){
  margin-right: 0;
}
li#ok{
  background: #ea7433;
}
li#del{
  background:;
}
